<% layout('layouts/boylerplate') %>

<div class="row">
  <% for (const post of posts) { %>

  <div class="card mb-3 col-3 mx-auto" style="width: 18rem">
    <img src="<%= post.image %>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= post.username %></li>
      </ul>
      <div class="card-body">
        <a href="/vanturepics/<%= post.id %>" class="btn btn-primary"
          >View Post</a
        >
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  <% } %>
</div>
