<% layout('layouts/boylerplate') %>
<div class="mx-auto" style="width: 30rem">
  <div class="card mb-3">
    <img src="<%= post.image %>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= post.username %></li>
      </ul>

      <div class="card-body">
        <div class="btn-group" role="group">
          <a href="/vanturepics/<%= post.id %>/edit" class="btn btn-info"
            >Edit</a
          >
          <form
            action="/vanturepics/<%= post.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <form
    action="/vanturepics/<%= post.id %>/comments"
    method="POST"
    class="validated-form mb-3"
    novalidate
  >
    <label class="form-label" for="comment">Comments</label>
    <textarea
      name="comments[body]"
      id="comment"
      class="form-control"
      required
    ></textarea>
    <div class="valid-feedback">Looks good</div>
    <button class="btn btn-success">Subbmit</button>
  </form>

  <% for (const comment of post.comments) {%>
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text"><%= comment.body %></p>

      <form
        action="/vanturepics/<%= post.id %>/comments/<%= comment.id %>?_method=DELETE"
        class="d-grid gap-2 d-md-flex justify-content-md-end"
        method="POST"
      >
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% } %>
</div>
