<% layout('layouts/boylerplate') %>
<link rel="stylesheet" href="/stylesheets/show.css " />
<div class="col-6 m-auto">
  <div class="card mb-3">
    <div id="postCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% post.images.forEach((img, i) => {%>
        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
          <img
            crossorigin="anonymous"
            src="<%= img.url %>"
            class="card-img-top d-block"
            alt=""
          />
        </div>
        <% }) %>
      </div>
      <% if (post.images.length > 1) {%>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#postCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#postCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Submited by: <%= post.author.username %>
        </li>
      </ul>
      <% if (currentUser && post.author.equals(currentUser)) {%>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <form
            action="/vanturepics/<%= post.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <a href="/vanturepics/<%= post.id %>/edit" class="btn btn-info">
            Edit
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <form
    action="/vanturepics/<%= post.id %>/comments"
    method="POST"
    class="validated-form mb-3"
    novalidate
  >
    <label class="form-label" for="comment">Comments</label>
    <textarea
      name="comments[body]"
      id="comment"
      class="form-control"
      required
    ></textarea>
    <div class="valid-feedback">Looks good</div>
    <button class="btn btn-success mt-1 btn-sm">Subbmit</button>
  </form>

  <% for (const comment of post.comments) {%>
  <div class="card mb-3">
    <div class="card-body">
      <h6 class="card-title text-muted">@<%= comment.author.username %></h6>
      <p class="card-text"><%= comment.body %></p>
      <% if (currentUser && comment.author.equals(currentUser.id)) {%>
      <form
        action="/vanturepics/<%= post.id %>/comments/<%= comment.id %>?_method=DELETE"
        class="d-grid gap-2 d-md-flex justify-content-md-end"
        method="POST"
      >
        <button class="btn btn-danger btn-sm">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
  <% } %>
</div>
